.profile-main-holder {
  background-color: white;
  width: auto;
  min-height: 80vh;
  max-height: fit-content;
  margin: 3vh;
  border-radius: 20px;
  display: flex;
  padding: 2vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: self-start;
}

.profile-main-holder:first-child {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: start;
  align-items: center;
}

.profile-main-first-column {
  width: 100%;
}

.profile-main-second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: flex-end;
}

.profile-head {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: flex-start;
  align-items: start;
  padding: 1vh;
  padding-left: 2vh;
}

.profile-edit {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: flex-start;
  align-items: start;
  padding: 1vh;
  padding-left: 2vh;
}

.profile-head:first-child {
  font-size: 1.5rem;
}

.profile-myinfos {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  padding: 1vh;
  padding-left: 2vh;
  margin-top: 3vh;
}

.profile-myevents {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  margin-top: 3vh;
  padding-bottom: 3vh;
}

.profile-events-not-organizer {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  margin-top: 3vh;
  padding: 3vh;
  padding-left: 2vh;
}

.profile-events-header {
  padding: 2vh;
  padding-bottom: 0;
  padding-top: 1vh;
}

.profile-events-single {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.profile-events-single:hover {
  background-color: #cfcfcf;
  transition: background-color 0.3s ease;
}

.profile-events-list {
  width: 100%;
}

.profile-infobox-holder {
  margin-bottom: 1vh;
}

.edit-foot-button-holder {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.delte-profile-modal-answer-holder {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  width: 100%;
}
