.profile-main-holder {
  background-color: white;
  width: auto;
  min-height: 80vh;
  max-height: fit-content;
  margin: 3vh;
  border-radius: 20px;
  display: flex;
  padding: 2vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: self-start;
}

.profile-main-holder:first-child {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: start;
  align-items: center;
}

.profile-main-first-column {
  width: 60%;
}

.profile-main-second-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.profile-head {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: flex-start;
  align-items: start;
  padding: 1vh;
  padding-left: 2vh;
}

.profile-head:first-child {
  font-size: 1.5rem;
}

.profile-myinfos {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  padding: 1vh;
  padding-left: 2vh;
  margin-top: 3vh;
}

.profile-infobox-holder {
  margin-bottom: 1vh;
}
