#registration-sequence-block-headline {
  font-size: 3rem;
  font-family: Trebuchet MS;
}

.registration-sequence {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.register-fail-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.register-success-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
