.route-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem;
}
